_minted*/
_minted-main/
.vscode/
appendices/
backmatter/
chapters/
figures/
fonts/
frontmatter/

*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.listing
*.tex
*.cls
*.pygtex
*.pdf

**/*.exe
*.exe
*.o
*.obj
*.out

!main.pdf
!README.md
!.gitignore
