# --- Ignored Folders ---
_minted*/
appendices/
backmatter/
chapters/
figures/
fonts/
frontmatter/
.vscode/

# --- Ignored Files ---
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.listing
*.tex
*.cls

# --- Ignored Binaries ---
*.exe
*.o
*.obj
*.out

# --- Exceptions ---
!main.pdf
!code/
!README.md
!.gitignore

!code/**